@model Movie_Recommendation_System.Models.ApplicationUser
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h2>@Model.UserName</h2>
<h2>@Model.Email</h2>
<h2>@Model.PasswordHash</h2>
<h2>@Model.Id</h2>

