<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Dashboard</title>
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Vendor/AdminAsset/dist/css/AdminLTE.min.css">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="~/Vendor/AdminAsset/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Vendor/AdminAsset/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Vendor/AdminAsset/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Vendor/AdminAsset/bower_components/Ionicons/css/ionicons.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Vendor/AdminAsset/dist/css/skins/_all-skins.min.css">
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!-- demo style -->
    <!-- jQuery 3 -->
    <script src="~/Vendor/AdminAsset/bower_components/jquery/dist/jquery.min.js"></script>

    <style>
        .bs-glyphicons {
            padding-left: 0;
            padding-bottom: 1px;
            margin-bottom: 20px;
            list-style: none;
            overflow: hidden;
        }

            .bs-glyphicons li {
                float: left;
                width: 25%;
                height: 115px;
                padding: 10px;
                margin: 0 -1px -1px 0;
                font-size: 12px;
                line-height: 1.4;
                text-align: center;
                border: 1px solid #ddd;
            }

            .bs-glyphicons .glyphicon {
                margin-top: 5px;
                margin-bottom: 10px;
                font-size: 24px;
            }

            .bs-glyphicons .glyphicon-class {
                display: block;
                text-align: center;
                word-wrap: break-word; /* Help out IE10+ with class names */
            }

            .bs-glyphicons li:hover {
                background-color: rgba(86, 61, 124, .1);
            }

        @@media (min-width: 768px) {
            .bs-glyphicons li {
                width: 12.5%;
            }
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>M</b>RS</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Movie</b>Mania</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @Html.Partial("~/Views/Shared/AdminLoginPartial.cshtml")
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Vendor/AdminAsset/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Alexander Pierce</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- =============================================== -->
                <!-- Left side column. contains the sidebar -->
                <aside class="main-sidebar">
                    <!-- sidebar: style can be found in sidebar.less -->
                    <section class="sidebar">
                        <!-- search form -->
                        <form action="#" method="get" class="sidebar-form">
                            <div class="input-group">
                                <input type="text" name="q" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                        <!-- /.search form -->
                        <!-- sidebar menu: : style can be found in sidebar.less -->
                        <ul class="sidebar-menu" data-widget="tree">
                            <li class="header">MAIN NAVIGATION</li>

                            <li class="#">
                                <a href="/Admin/Movies/Index">
                                    <i class="fa fa-fw fa-home"></i>
                                    <span>Home</span>
                                </a>
                            </li>
                            <li class="#">
                                <a href="/Admin/Movies/Create">
                                    <i class="fa fa-fw fa-camera"></i>
                                    <span>Movie</span>
                                </a>
                            </li>

                            <li class="#">
                                <a href="/Admin/Cinemas/Index">
                                    <i class="fa fa-bank"></i>
                                    <span>Cinema</span>
                                </a>
                            </li>

                            <li>
                                <a href="/Admin/CinemaShowtimes/Create">
                                    <i class="fa fa-globe"></i>
                                    <span>Cinema Show Timing</span>
                                </a>
                            </li>

                            <li>
                                <a href="/Admin/UserRoles/Index">
                                    <i class="fa fa-fw fa-plus"></i>
                                    <span>Roles &Aacute; Authority</span>
                                </a>
                            </li>
                        </ul>
                    </section>
                </aside>

            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" />
        <!-- Content Header (Page header) -->
        @RenderBody()
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>AMA Originals</b>
        </div>
        <strong>MoviesMania &copy; 2018-2019 <a href="https://adminlte.io">c-MRS</a>.</strong> All rights
        reserved.
    </footer>
    <!-- ./wrapper -->
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Vendor/AdminAsset/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Select2 -->
    <script src="~/Vendor/AdminAsset/bower_components/select2/dist/js/select2.full.min.js"></script>
    <!-- InputMask -->
    <script src="~/Vendor/AdminAsset/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/Vendor/AdminAsset/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/Vendor/AdminAsset/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <!-- date-range-picker -->
    <script src="~/Vendor/AdminAsset/bower_components/moment/min/moment.min.js"></script>
    <script src="~/Vendor/AdminAsset/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap datepicker -->
    <script src="~/Vendor/AdminAsset/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/Vendor/AdminAsset/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <!-- bootstrap time picker -->
    <script src="~/Vendor/AdminAsset/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Vendor/AdminAsset/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="~/Vendor/AdminAsset/plugins/iCheck/icheck.min.js"></script>
    <!-- FastClick -->
    <script src="~/Vendor/AdminAsset/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Vendor/AdminAsset/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Vendor/AdminAsset/dist/js/demo.js"></script>

</body>
</html>
