@model Movie_Recommendation_System.Models.ApplicationUser
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row form-horizontal">
    <div class="col-md-offset-1 form-horizontal col-md-10">
        <h4 style="text-align:center">Selected User Details</h4>
        <hr />
        <p>
            @Html.ActionLink("Edit", "Edit", null, new { id = Model.Id }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
        <div class="row form-group">
            <div class="col-md-offset-1 col-md-10">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>


